<!DOCTYPE html>
<html lang="ru">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <%- include('./partials/navbar'); %>
        <div class="container">
            <div class="container">
                <table class="table table-condensed">
                    <% for(var place of data) { %></a>
                            <tr>
                                <td class="active"><a  href="/place/<%= place.id %>"><%= place.id %></a></td>
                                <td class="success"><a href="/place/<%= place.id %>"><%= place.title %></a></td>
                                <td class="warning"><a href="/place/<%= place.id %>"><%= place.body %></a></td>
                                <td class="info"><a href="/place/<%= place.id %>"><img width="100px" src="<%= place.imgSrc %>" alt="<%= place.title %>"></a></td></a>
                            </tr>
                    <% } %>
                </table>
            </div>
        </div>



</body>

</html>