<!DOCTYPE html>
<html lang="ru">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <%- include('./partials/navbar'); %>
        <div class="container">
            <div class="container">
                <table class="table table-condensed">
                    <% for(var place of data) { %>
                    <tr>
                        <td class="active"><%= place.id %></td>
                        <td class="success"><%= place.title %></td>
                        <td class="warning"><%= place.body %></td>
                        <td class="info"><img width="100px" src="<%= place.imgSrc %>" alt=""></td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>



</body>

</html>