<!DOCTYPE html>
<html lang="ru">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <%- include('./partials/navbar'); %>
        <div class="container wrapperPlace">

            <% for(var place of data) { %></a>

                <h1 class="navbar-text textPlace">
                    <%= place.title %>
                </h1>
                <h3 class="navbar-text textPlace">
                    <%= place.body %>
                </h3>
                <img src="../<%= place.imgSrc %>" alt="<%= place.title %>">
                <h1 class="navbar-text textPlace">Координаты: <%= place.gps %>
                </h1>
                <iframe src="<%= place.mapSrc %>" width="90%" height="400" frameborder="0"></iframe>
                <hr>
            <% } %>

            <%- include('./partials/inputsReview'); %>

                <div class="wrapperReview">

                    <% if(reviews.length>= 1) {%>
                        <% for(var review of reviews) { %>
                            <div class="containerReview">
                                <div class="review">
                                    <% for(var i=0; i < (review.grade); i++) { %>
                                        <img src="/img/star.png" alt="star">
                                        <% } %>
                                            <span class=" textPlace">
                                                <%= review.grade %>/5
                                            </span>
                                </div>
                                <h1 class="navbar-text textPlace">
                                    <%= review.name %>
                                </h1>
                                <h3 class="navbar-text textPlace">
                                    <%= review.comment %>
                                </h3>
                            </div>
                            <% } %>
                                <% } else { %>
                                    <h1>Отзывов нет</h1>
                            <% } %>

                </div>
        </div>
</body>

</html>