<!DOCTYPE html>
<html lang="ru">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <%- include('./partials/navbar'); %>
        <div class="container wrapperPlace">

            <% for(var place of data) { %>

                <h1 class="navbar-text textPlace">
                    <%= place.title %>
                </h1>
                <h3 class="navbar-text textPlace">
                    <%= place.body %>
                </h3>

                <img src="../<%= place.imgSrc %>" alt="<%= place.title %>">

                    <% for(var img of images) { %>
                            <img src="../<%= img.img_src %>" alt="<%= place.title %>">
                    <% } %>

                <h1 class="navbar-text textPlace">Координаты: <%= place.gps %>
                </h1>
                <iframe src="<%= place.mapSrc %>" width="90%" height="400" frameborder="0"></iframe>
                <hr>
            <% } %>

            <%- include('./partials/inputsReview'); %>
        </div>
</body>

</html>